-if @admin.errors.any?
  #error_explanation
    %h2
      = "Devido à #{pluralize(@admin.errors.count, 'erro')}. Não foi possível salvar o Administrador."
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li
            = msg