/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*/
* {margin:0; padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0; outline:0; vertical-align:baseline; background:transparent;}
.hidden {position:absolute; left:-1000em; top:-1000em; width:1px; height:1px; overflow:hidden;}
.noscreen {display:none;}
.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}
.fix {float:none; clear:both; width:0; height:0; margin:0; padding:0; border:0; line-height:0; font-size:0;}
.f-left {float:left !important;}
.f-right {float:right !important;}
.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}
.va-top {vertical-align:top !important;}
.va-middle {vertical-align:middle !important;}
.va-bottom {vertical-align:bottom !important;}
.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

#cols {margin:15px; background:none;}

#cols {position:relative; margin:15px 0; padding-right:15px; background:url("content.gif") 230px 0 repeat-y;}
#aside {float:left; width:215px; margin-right:0;}
#content {margin-left:232px; overflow:visible;}

html>body #aside {margin-right:20px;}
html>body #content {margin-left:0; overflow:hidden;}

body {font:0.8em/1.5 "arial", sans-serif;}
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, table, ul {margin:15px 0;}
#content h1 {font-size:180%;}
#content h2 {font-size:160%;}
#content h3 {font-size:140%;}
#content h4 {font-size:120%;}
#content h5, h6 {font-size:100%;}
#content table {margin:0; border-collapse:collapse;}
#content table.width100 {width:100%;}
#content table th, #content table td {padding:5px 5px;}
#content table th {text-align:left; vertical-align:middle; font-weight:bold;}
#content ul {margin:15px 0; list-style:none;}
#content ul li {padding-left:15px; background:url("ul.gif") 0 4px no-repeat;}
#content ul ul {margin:0 0 0 10px;}
#content ul ul li {padding-left:15px; background:url("ul-ul.gif") 0 4px no-repeat;}
#content ol {margin:15px 0 15px 30px; list-style-type:decimal;}
#content ol ol {margin:0 0 0 20px;}
#content ol ol li {list-style-type:lower-alpha;}
#content dl {clear:both;}
#content dl dt {font-weight:bold;}
#content dl dd {margin:0 0 5px 0;}
#content fieldset {position:relative; margin:10px 0; padding:10px;}
#content legend {font-size:120%; font-weight:bold;}
#content code {font-family:"",monospace;}
#content .help {cursor:help;}

/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle, table.nostyle th, table.nostyle td {border:0 !important;}
table.nostyle th {background:none !important; text-align:left !important;}
table.nostyle th, table.nostyle td {padding:3px 5px !important;}
ul.nostyle {margin:15px 0 15px 20px !important; list-style-type:square !important;}
ul.nostyle ul {margin:0 0 0 25px !important; list-style-type:square !important;}
ul.nostyle li {padding:0 !important; background:none !important;}
dl.nostyle dt {font-weight:bold !important;}
dl.nostyle dd {margin:0 !important;}

/* =============================================================================
LAYOUT
============================================================================= */

#main {min-width:980px; width:expression(document.body.clientWidth < 980? "980px" : "auto" );}
#tray {padding:12px 15px; background:url("tray.gif") 0 0 repeat-x; font:85%/1.2 "tahoma",sans-serif;}
#tray p {margin:0;}
#tray p.f-left {width:50%;}
#tray #logout {padding-left:18px; background:url("tray-logout.gif") 0 50% no-repeat; text-transform:uppercase;}
#tray #switcher {margin-right:15px;}
#tray #switcher img {display:block; float:left; width:16px; height:16px; border:0;}
#menu {padding:15px 15px 13px 15px; background:url("menu.gif") 0 0 repeat-x; height:50px;}
#menu ul {margin:5px 0 0 0; padding:0; list-style-type:none;}
#menu ul li {display:inline; margin:0; padding:0;}
#menu ul li a {float:left; margin-right:5px; padding-left:5px; background:url("menu-left.gif") 0 0 no-repeat; text-decoration:none; cursor:pointer;}
#menu ul li a span {float:left; display:block; padding:7px 15px 9px 8px; background:url("menu-right.gif") 100% 0 no-repeat;}
#menu ul li a:hover, #menu ul li#menu-active a {background:url("menu-left.gif") 0 -35px no-repeat;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background:url("menu-right.gif") 100% -35px no-repeat;}
#menu ul li#menu-active a {font-weight:bold;}
#content {padding:20px; overflow:hidden;}
#footer {clear:both; padding:15px; background:url("separator.gif") 0 0 repeat-x; font:85%/1.2 "tahoma",sans-serif;}
#footer p {margin:0;}

/* =============================================================================
/* =============================================================================
OTHERS
============================================================================= */

#aside .padding {padding-left:15px;}
#aside #logo {margin:0 0 15px 0;}
#aside #logo img {display:block; width:200px;}
#aside #search fieldset {padding:7px 10px;}
#aside #search fieldset p {margin:0;}
#aside #search fieldset legend {font-weight:bold;}
#aside #search fieldset .input-text {width:130px;}
#aside #search fieldset #search-options {margin-top:10px;}
#aside #btn-create {margin:0 0 15px 0;}
#aside #btn-create a {float:left; padding-left:27px; height:37px; overflow:hidden; background:url("btn-create-left.gif") 0 0 no-repeat; text-decoration:none; font-weight:bold; cursor:pointer;}
#aside #btn-create a span {float:left; display:block; width:163px; padding:8px 0 10px 10px; background:url("btn-create-right.gif") -2px 0 no-repeat;}
#aside #btn-create a:hover {background-position:0 -37px;}
#aside ul {width:215px; margin:0 0 15px 0; list-style:none;}
#aside ul li {display:inline;}
#aside ul li a {display:block; width:185px; padding:4px 15px; text-decoration:none;}
#aside ul li.active a {width:198px; border:0; background:url("submenu-active.gif") 100% 50% no-repeat #0085CC; font-weight:bold; z-index:999;}
#aside ul ul {margin:0; position:static;}
#aside ul ul li a, #aside ul li.active ul li a {width:170px; padding:5px 15px 5px 30px; background:url("submenu-sub.gif") 15px 7px no-repeat; font:85%/1.2 "tahoma",sans-serif; font-weight:normal;}
#content h1 {margin:0; padding:10px 15px; background:url("content-h1.gif") 0 0 repeat-x; letter-spacing:-1px;}
#content .col50 {float:left; width:49%;}
#content .col33 {float:left; width:32%;}
#content .col33.center {padding:0 2%;}
#content .tabs {margin:15px 0;}
#content .tabs ul {margin:0; padding:0; list-style-type:none;}
#content .tabs ul li {display:inline; margin:0; padding:0;}
#content .tabs a {float:left; margin-right:3px; padding-left:4px; background:url("tabs-l.gif") 0 -100px no-repeat; text-decoration:none;}
#content .tabs a span {float:left; display:block; padding:8px 15px 6px 11px; background:url("tabs-r.gif") 100% -100px no-repeat;}
#content .tabs a:hover, .tabs a:hover span {text-decoration:underline;}
#content .tabs .ui-tabs-selected a {background:url("tabs-l.gif") 0 0 no-repeat; font-weight:bold;}
#content .tabs .ui-tabs-selected a span  {background:url("tabs-r.gif") 100% 0 no-repeat;}
#content .tabs .ui-tabs-selected a:hover, #content .tabs .ui-tabs-selected a:hover span {text-decoration:none;}
#content .ui-tabs-hide {display: none !important;}
.input-text {padding:3px; font:100%/1.5 "arial", sans-serif;}
.input-text-02 {padding:5px; font:140%/1.5 "arial", sans-serif;}
.input-submit {padding:5px; font-size:120%;}
.input-submit-02 {padding:1px; font-size:100%;}
.msg {padding:10px; padding-left:35px;}
.msg.warning {background:url("ico-warning.gif") 10px 50% no-repeat;}
.msg.info {background:url("ico-info.gif") 10px 50% no-repeat;}
.msg.done {background:url("ico-done.gif") 10px 50% no-repeat;}
.msg.error {background:url("ico-delete.gif") 10px 50% no-repeat;}

/* =============================================================================
FONT STYLES
============================================================================= */

.bigger {font-size:120%;}
.smaller {font:85%/1.2 "tahoma",sans-serif;}

/* This line can be deleted */
.tit {padding:10px; background:#f5f5f5;} .tag {background:#ffa;}

#cols {position:relative; margin:15px 0; padding-right:15px; background:url("content.gif") 230px 0 repeat-y;}
#aside {float:left; width:215px; margin-right:0;}
#content {margin-left:232px; overflow:visible;}

html>body #aside {margin-right:20px;}
html>body #content {margin-left:0; overflow:hidden; min-height:200px;}


/* =============================================================================
	Button expansible
*/

a.ExpandButton{
background: transparent url('oval-gray-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ExpandButton, a:visited.ExpandButton, a:active.ExpandButton{
color: #494949; /*button text color*/
}

a.ExpandButton span{
background: transparent url('oval-gray-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ExpandButton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ExpandButton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.ExpandButton{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
}

/* Bot達o azul */
.ButtonBlue{
	background: transparent url('oval-blue-left.gif') no-repeat top left !important;
}

.ButtonBlue span{
	background: transparent url('oval-blue-right.gif') no-repeat top right !important;
}

/* Bot達o Verde */
.ButtonGreen{
	background: transparent url('oval-green-left.gif') no-repeat top left !important;
}

.ButtonGreen span{
	background: transparent url('oval-green-right.gif') no-repeat top right !important;
}

/* Bot達o Vermelho */
.ButtonRed{
	background: transparent url('oval-red-left.gif') no-repeat top left !important;
}

.ButtonRed span{
	background: transparent url('oval-red-right.gif') no-repeat top right !important;
}

/* Bot達o Laranja */
.ButtonOrange{
	background: transparent url('oval-orange-left.gif') no-repeat top left !important;
}

.ButtonOrange span{
	background: transparent url('oval-orange-right.gif') no-repeat top right !important;
}
/* =============================================================================
HTML - styles
============================================================================= */

body {background-color:#eaeaea; color:#303030;}
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
#content h2 {color:#0085cc;}
#content table {border:2px solid #cfcfcf;}
#content table th {border-right:1px solid #0074B3; background-color:#0085cc; color:#fff;}
#content table td {border:1px solid #cfcfcf;}
#content table tr.bg td {background-color:#e8f6ff;}
#content dl dt {color:#df0000;}
#content fieldset {border:1px solid #ccc;}
#content legend {background:#FFF; color:#0085cc;}
#content acronym, #content abbr, #content .help {border-bottom:1px dotted #cfcfcf;}

/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle th, dl.nostyle dt {color:#303030 !important;}

/* =============================================================================
LAYOUT
============================================================================= */

#tray {background-color:#303030; color:#cfcfcf;}
#tray a, #tray strong {color:#fff;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff;}
#menu {background-color:#0085cc;}
#menu ul li a {background-color:#fff; color:#303030;}
#menu ul li a span {background-color:#FFF;}
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus, #menu ul li#menu-active a {background-color:#FFF; color:#df0000;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background-color:#FFF;}
#menu ul li#menu-active a {color:#0085cc;}
#menu ul.f-right a {color:#df0000;}
#content {border:1px solid #afafaf; background:#fff;}
#footer {color:#707070;}
#footer a {color:#707070;}
#footer a:hover, #footer a:active, #footer a:focus {color:#303030;}

/* =============================================================================
OTHERS
============================================================================= */

#aside #logo img {border:1px solid #bfbfbf;}
#aside #search fieldset a {color:#303030;}
#aside #search fieldset {border:1px solid #bfbfbf;}
#aside #search fieldset a:hover, #aside #search fieldset a:active, #aside #search fieldset a:focus {color:#df0000;}
#aside #btn-create a {background-color:#fff; color:#303030;}
#aside #btn-create a span {background-color:#fff;}
#aside ul li a {border-bottom:1px solid #cfcfcf; color:#303030;}
#aside ul li.active a {background-color:#0085CC; color:#000;}
#aside ul li.active a:hover {background-color:#0085CC; color:#fff;}

#aside ul li a:hover, #aside ul li a:active, #aside ul li a:focus {color:#df0000;}
#aside ul ul li a, #aside ul li#submenu-active ul li a {border-bottom:1px solid #cfcfcf; background-color:#f5f5f5; color:#303030;}
#aside ul li ul li a {background-color:#e3e3e3;}
#aside ul ul li a:hover, #aside ul ul li a:active, #aside ul ul li a:focus, #aside ul li#submenu-active ul li a:hover, #aside ul li#submenu-active ul li a:active, #aside ul li#submenu-active ul li a:focus {color:#df0000;}
#content h1 {background-color:#303030; color:#fff; margin: 0 0 15px 0}
#content .tabs {border-bottom:1px solid #cfcfcf;}
#content .tabs a {color:#303030;}
#content .tabs a span {color:#303030;}
#content .tabs .ui-tabs-selected a {color:#fff;}
#content .tabs .ui-tabs-selected a span {color:#fff;}
.high {color:#df0000;}
.high-bg {background:#FFB;}
.low {color:#707070;}

#tray #logout {
    background: url("tray-logout.gif") no-repeat scroll 0 50% transparent;
    padding-left: 18px;
    text-transform: uppercase;
    margin-left:30px;
}

.styleswitch.ico-col1, .styleswitch.ico-col2{
    display: block;
    float: left;
    height: 16px;
    margin-right: 15px;
    width: 16px;
}
.styleswitch.ico-col2{
	background: url("switcher-2col.gif") repeat scroll 0 0%, none no-repeat scroll 0 0 transparent;
}
.styleswitch.ico-col1{
	background: url("switcher-1col.gif") repeat scroll 0 0%, none no-repeat scroll 0 0 transparent;
}

p.Home{
	font-weight:bold;
	font-size:28px;
	border-bottom: 1px dotted #000;
	margin: 0 0 15px 0;
}

/* =============================================================================
MESSAGES
============================================================================= */
.msg.info{ display:none; }

.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}

.alert_log{	
	float: left;
    min-width: 82%;
}

#error_explanation{
	background: none repeat scroll 0 0 #FFD8D8;
    margin-bottom: 10px;
    padding: 2px 20px;
    border:1px solid #FF0000;
}

#error_explanation h2{
	color: #000;
}

#error_explanation h2 ul li{
	background-position: 2px 4px;
    color: #FF4949;
    font-size: 11px;
}

.field_with_errors label{
	border-bottom:2px solid #FF0000;
}

.field_with_errors input{
	background:#FFD8D8;
	border:1px solid #FF0000;
}











