%div{class: 'BoxShadow'}
  %div{class: 'ColunaEsquerda'}
    #div{class: 'ImagemContainer'}
      imagem do Personal trainer
  %div{class: 'ColunaDireita'}  
    %h1 
      -if @personal.nil?
        Usuario inativado ou nao existe
      - else
        = @personal.name