%div{id: 'tray', class: 'box'}
  %p{class: "f-left box"}
    %span{id: 'switcher', class: 'f-left'}
      =link_to '', '#', {class: 'styleswitch ico-col1', title: 'Mostrar apenas uma coluna', rel: '1col'}
    Projeto:
    %strong Mauricio App - Personal Trainer Helper
  %p{class: 'f-right'}
    Administrador:
    %strong{style: 'margin-right: 20px;'}
      =link_to @admin_auth.name, '#'
    Nivel de acesso:
    %strong 
      = @admin_auth.admin_level
    %strong
      =link_to 'Logout', {:controller=>"administrador/admin_session", :action=>"destroy"}, id: 'logout'
    
    
%div{id: 'menu', class: 'box'}
  %div.alert_log
    - if flash[:notice]
      .msg.info= flash[:notice]
    - elsif flash[:warning]
      .msg.warning= flash[:warning]
    - elsif flash[:error]
      .msg.error= flash[:error]  
    
  %ul{class: 'box f-right'}
    %li
      %a
        %span
          %strong
            Visitar o Website >>