%div{class: "BgImagem"}
%header
  =link_to('#', class: 'Logo') do
    Personal Trainer
    %span
      Playground
  %nav
    %div{class: 'SocialNetWork'}
      =link_to '', '#', class: 'Twitter', title: 'Twitter'
      =link_to '', '#', class: 'Facebook', title: 'Facebook'

    %ul{class: 'Menu'}
      %li
        =link_to 'Sobre', '#'
      %li
        =link_to 'Treinamento', '#'
      %li
        =link_to 'Horários', '#'
      %li
        =link_to 'Nutrição', '#'
      %li
        =link_to 'Galeria', '#'
      %li
        =link_to 'Contato', :controller => "personal", action: :contato
